{
  "openapi": "3.0.2",
  "info": {
    "title": "Connecteam API documentation",
    "version": "v1"
  },
  
  "servers": [
    {
      "url": "https://api.connecteam.com/"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account details",
        "description": "Returns the info associated with the passed API key",
        "operationId": "get_account_information_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_MeResponse_"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/forms/v1/forms/{formId}": {
      "get": {
        "tags": [
          "Forms:v1:Forms"
        ],
        "summary": "Get a single form",
        "description": "Get a specific form by the formId",
        "operationId": "get_form_forms_v1_forms__formId__get",
        "parameters": [
          {
            "description": "Form id to return",
            "required": true,
            "schema": {
              "title": "Formid",
              "minimum": 1,
              "type": "integer",
              "description": "Form id to return"
            },
            "name": "formId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_FormResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/forms/v1/forms": {
      "get": {
        "tags": [
          "Forms:v1:Forms"
        ],
        "summary": "Get multiple form objects",
        "description": "Get a list of form objects irrelevant to their location within the system",
        "operationId": "get_forms_forms_v1_forms_get",
        "parameters": [
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_FormsGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/forms/v1/forms/{formId}/form-submissions": {
      "get": {
        "tags": [
          "Forms:v1:Form Submissions"
        ],
        "summary": "Get multiple form submissions",
        "description": "Get a list of submissions of a form",
        "operationId": "get_form_submissions_forms_v1_forms__formId__form_submissions_get",
        "parameters": [
          {
            "description": "Form Id",
            "required": true,
            "schema": {
              "title": "Formid",
              "type": "integer",
              "description": "Form Id"
            },
            "name": "formId",
            "in": "path"
          },
          {
            "description": "Filter by submitting user ids",
            "required": false,
            "schema": {
              "title": "Userids",
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Filter by submitting user ids"
            },
            "name": "userIds",
            "in": "query"
          },
          {
            "description": "Filter form submissions that were submitted from this timestamp",
            "required": false,
            "schema": {
              "title": "Submittingstarttimestamp",
              "type": "integer",
              "description": "Filter form submissions that were submitted from this timestamp"
            },
            "name": "submittingStartTimestamp",
            "in": "query"
          },
          {
            "description": "Filter form submissions that were submitted until this timestamp",
            "required": false,
            "schema": {
              "title": "Submittingendtime",
              "type": "integer",
              "description": "Filter form submissions that were submitted until this timestamp"
            },
            "name": "submittingEndTime",
            "in": "query"
          },
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_FormsSubmissionsGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/forms/v1/forms/{formId}/form-submissions/{formSubmissionId}": {
      "get": {
        "tags": [
          "Forms:v1:Form Submissions"
        ],
        "summary": "Get a single form submission",
        "description": "Retrieve a submission of a form",
        "operationId": "get_form_submission_forms_v1_forms__formId__form_submissions__formSubmissionId__get",
        "parameters": [
          {
            "description": "Form Id",
            "required": true,
            "schema": {
              "title": "Formid",
              "type": "integer",
              "description": "Form Id"
            },
            "name": "formId",
            "in": "path"
          },
          {
            "description": "Filter by Form submission id",
            "required": true,
            "schema": {
              "title": "Formsubmissionid",
              "type": "string",
              "description": "Filter by Form submission id"
            },
            "name": "formSubmissionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_FormsSubmissionGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms:v1:Form Submissions"
        ],
        "summary": "Update a single form submission",
        "description": "Update the submission of a form",
        "operationId": "update_form_submissions_forms_v1_forms__formId__form_submissions__formSubmissionId__put",
        "parameters": [
          {
            "description": "Form Id",
            "required": true,
            "schema": {
              "title": "Formid",
              "type": "integer",
              "description": "Form Id"
            },
            "name": "formId",
            "in": "path"
          },
          {
            "description": "Filter by Form submission id",
            "required": true,
            "schema": {
              "title": "Formsubmissionid",
              "type": "string",
              "description": "Filter by Form submission id"
            },
            "name": "formSubmissionId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormSubmissionPutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_FormsSubmissionPutResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/scheduler/v1/schedulers": {
      "get": {
        "tags": [
          "Scheduler:v1:Schedulers"
        ],
        "summary": "Get schedulers",
        "description": "Retrieve a list of schedulers associated with the account",
        "operationId": "get_schedulers_scheduler_v1_schedulers_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_SchedulersResponse_"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/scheduler/v1/schedulers/user-unavailability": {
      "get": {
        "tags": [
          "Scheduler:v1:Schedulers:Unavailabilities"
        ],
        "summary": "Get user unavailabilities",
        "description": "Retrieve a list of user unavailabilities, approved time-off requests and assigned shifts",
        "operationId": "get_unavailabilities_scheduler_v1_schedulers_user_unavailability_get",
        "parameters": [
          {
            "description": "The unique identifier of the user",
            "required": true,
            "schema": {
              "title": "Userid",
              "type": "integer",
              "description": "The unique identifier of the user"
            },
            "name": "userId",
            "in": "query"
          },
          {
            "description": "The start time to filter by in Unix format (in seconds)",
            "required": true,
            "schema": {
              "title": "Starttime",
              "minimum": 1,
              "type": "integer",
              "description": "The start time to filter by in Unix format (in seconds)"
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "description": "The end time to filter by in Unix format (in seconds)",
            "required": true,
            "schema": {
              "title": "Endtime",
              "minimum": 1,
              "type": "integer",
              "description": "The end time to filter by in Unix format (in seconds)"
            },
            "name": "endTime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_GetUnavailabilitiesResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/scheduler/v1/schedulers/{schedulerId}/shifts": {
      "get": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Get shifts",
        "description": "Retrieve a list of shifts under a specific scheduler",
        "operationId": "get_shifts_scheduler_v1_schedulers__schedulerId__shifts_get",
        "parameters": [
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          },
          {
            "description": "The start time to filter by in Unix format (in seconds)",
            "required": true,
            "schema": {
              "title": "Starttime",
              "minimum": 1,
              "type": "integer",
              "description": "The start time to filter by in Unix format (in seconds)"
            },
            "name": "startTime",
            "in": "query"
          },
          {
            "description": "The end time to filter by in Unix format (in seconds)",
            "required": true,
            "schema": {
              "title": "Endtime",
              "minimum": 1,
              "type": "integer",
              "description": "The end time to filter by in Unix format (in seconds)"
            },
            "name": "endTime",
            "in": "query"
          },
          {
            "description": "Filter shifts that are open shifts",
            "required": false,
            "schema": {
              "title": "Isopenshift",
              "type": "boolean",
              "description": "Filter shifts that are open shifts"
            },
            "name": "isOpenShift",
            "in": "query"
          },
          {
            "description": "Filter shifts that are published",
            "required": false,
            "schema": {
              "title": "Ispublished",
              "type": "boolean",
              "description": "Filter shifts that are published"
            },
            "name": "isPublished",
            "in": "query"
          },
          {
            "description": "Filter shifts that require admin approval",
            "required": false,
            "schema": {
              "title": "Isrequireadminapproval",
              "type": "boolean",
              "description": "Filter shifts that require admin approval"
            },
            "name": "isRequireAdminApproval",
            "in": "query"
          },
          {
            "description": "List of job IDs",
            "required": false,
            "schema": {
              "title": "Jobid",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of job IDs"
            },
            "name": "jobId",
            "in": "query"
          },
          {
            "description": "List of user IDs",
            "required": false,
            "schema": {
              "title": "Assigneduserids",
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              },
              "description": "List of user IDs"
            },
            "name": "assignedUserIds",
            "in": "query"
          },
          {
            "description": "List of shift IDs",
            "required": false,
            "schema": {
              "title": "Shiftid",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of shift IDs"
            },
            "name": "shiftId",
            "in": "query"
          },
          {
            "description": "Title of the shift",
            "required": false,
            "schema": {
              "title": "Title",
              "type": "string",
              "description": "Title of the shift"
            },
            "name": "title",
            "in": "query"
          },
          {
            "description": "Sort key",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ShiftsSortKeysExternal"
                }
              ],
              "description": "Sort key"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Sort order, set only if sort key is set",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "Sort order, set only if sort key is set",
              "default": "asc"
            },
            "name": "order",
            "in": "query"
          },
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_ShiftBulkResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Update shifts",
        "description": "Update single or multiple shifts under a specific scheduler",
        "operationId": "update_shifts_scheduler_v1_schedulers__schedulerId__shifts_put",
        "parameters": [
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Shifts",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShiftUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftBulkResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Create shifts",
        "description": "Create single or multiple shifts under a specific scheduler",
        "operationId": "create_shifts_scheduler_v1_schedulers__schedulerId__shifts_post",
        "parameters": [
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Shifts",
                "maxItems": 500,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShiftCreateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftBulkResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Delete shifts",
        "description": "Delete single or multiple shifts in a specified scheduler",
        "operationId": "delete_shifts_by_ids_scheduler_v1_schedulers__schedulerId__shifts_delete",
        "parameters": [
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftBulkDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftBulkDeleteResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/scheduler/v1/schedulers/{schedulerId}/shifts/{shiftId}": {
      "get": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Get shift by shift id",
        "description": "Get shift by id in scheduler",
        "operationId": "get_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__get",
        "parameters": [
          {
            "description": "The unique identifier of the shift",
            "required": true,
            "schema": {
              "title": "Shiftid",
              "type": "string",
              "description": "The unique identifier of the shift"
            },
            "name": "shiftId",
            "in": "path"
          },
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Scheduler:v1:Schedulers:Scheduler:Shifts"
        ],
        "summary": "Delete a single shift",
        "description": "Delete shift by id in scheduler",
        "operationId": "delete_shift_by_id_scheduler_v1_schedulers__schedulerId__shifts__shiftId__delete",
        "parameters": [
          {
            "description": "The ID of the shift to delete",
            "required": true,
            "schema": {
              "title": "Shiftid",
              "type": "string",
              "description": "The ID of the shift to delete"
            },
            "name": "shiftId",
            "in": "path"
          },
          {
            "description": "Scheduler instance id",
            "required": true,
            "schema": {
              "title": "Schedulerid",
              "type": "integer",
              "description": "Scheduler instance id"
            },
            "name": "schedulerId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftDeleteResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/jobs/v1/jobs": {
      "get": {
        "tags": [
          "Jobs:v1:Jobs"
        ],
        "summary": "Get jobs",
        "description": "Get a list of job objects relevant to instance id (scheduler id or time clock id).\nIf unified jobs are disabled, only schedulers are supported",
        "operationId": "get_jobs_jobs_v1_jobs_get",
        "parameters": [
          {
            "description": "List of instance IDs (scheduler id or time clock id) to filter by",
            "required": false,
            "schema": {
              "title": "Instanceids",
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "List of instance IDs (scheduler id or time clock id) to filter by"
            },
            "name": "instanceIds",
            "in": "query"
          },
          {
            "description": "List of job IDs to filter by",
            "required": false,
            "schema": {
              "title": "Jobids",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of job IDs to filter by"
            },
            "name": "jobIds",
            "in": "query"
          },
          {
            "description": "List of job names to filter by",
            "required": false,
            "schema": {
              "title": "Jobnames",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of job names to filter by"
            },
            "name": "jobNames",
            "in": "query"
          },
          {
            "description": "Determines whether the response includes jobs that have been deleted. Default value is set to true.",
            "required": false,
            "schema": {
              "title": "Includedeleted",
              "type": "boolean",
              "description": "Determines whether the response includes jobs that have been deleted. Default value is set to true.",
              "default": true
            },
            "name": "includeDeleted",
            "in": "query"
          },
          {
            "description": "Sort key",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/JobsSortKeysExternal"
                }
              ],
              "description": "Sort key"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Sort order, set only if sort key is set",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "Sort order, set only if sort key is set",
              "default": "asc"
            },
            "name": "order",
            "in": "query"
          },
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_JobsResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Jobs:v1:Jobs"
        ],
        "summary": "Create jobs",
        "description": "Create individual or multiple jobs under a specified scheduler",
        "operationId": "create_jobs_jobs_v1_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Jobs",
                "maxItems": 500,
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/JobCreateRequest"
                    },
                    {
                      "$ref": "#/components/schemas/SubJobCreateRequest"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_JobsResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/jobs/v1/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs:v1:Job"
        ],
        "summary": "Get a single job",
        "description": "Retrieve a single job information by its unique ID",
        "operationId": "get_job_jobs_v1_jobs__jobId__get",
        "parameters": [
          {
            "description": "The unique identifier of the job",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "The unique identifier of the job"
            },
            "name": "jobId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_JobResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/users/v1/users": {
      "get": {
        "tags": [
          "Users:v1:Users"
        ],
        "summary": "Get users",
        "description": "Retrieves a list of all users associated with the account. Optionally, filter by user ID to receive specific user information",
        "operationId": "get_users_users_v1_users_get",
        "parameters": [
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort key",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/UsersSortKeysExternal"
                }
              ],
              "description": "Sort key"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Sort order, set only if sort key is set",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "Sort order, set only if sort key is set",
              "default": "asc"
            },
            "name": "order",
            "in": "query"
          },
          {
            "description": "List of user IDs for filtering.",
            "required": false,
            "schema": {
              "title": "Userids",
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              },
              "description": "List of user IDs for filtering."
            },
            "name": "userIds",
            "in": "query"
          },
          {
            "description": "Filter users by status. Default is active.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/UserStatus"
                }
              ],
              "description": "Filter users by status. Default is active.",
              "default": "active"
            },
            "name": "userStatus",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_UsersResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "Users:v1:Users"
        ],
        "summary": "Update users",
        "description": "Update individual or multiple users associated with the account using the provided details. You can specify updates either by their phone number or unique userID.",
        "operationId": "edit_users_users_v1_users_put",
        "parameters": [
          {
            "description": "Optional flag to edit users by phone (default by user id).",
            "required": false,
            "schema": {
              "title": "Editusersbyphone",
              "type": "boolean",
              "description": "Optional flag to edit users by phone (default by user id).",
              "default": false
            },
            "name": "editUsersByPhone",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Users",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserEditRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_EditUsersResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users:v1:Users"
        ],
        "summary": "Create users",
        "description": "Create individual or multiple users associated with the account using the provided details.",
        "operationId": "create_users_users_v1_users_post",
        "parameters": [
          {
            "description": "Optional flag to send activation sms.",
            "required": false,
            "schema": {
              "title": "Sendactivation",
              "type": "boolean",
              "description": "Optional flag to send activation sms.",
              "default": false
            },
            "name": "sendActivation",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Users",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserCreateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_CreateUsersResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users:v1:Users"
        ],
        "summary": "Archive users",
        "description": "Archive individual or multiple users associated with the account by their unique userID.",
        "operationId": "archive_users_users_v1_users_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Userids",
                "type": "array",
                "items": {
                  "minimum": 1,
                  "type": "integer"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ArchiveUsersResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/users/v1/custom-fields": {
      "get": {
        "tags": [
          "Users:v1:Custom Fields"
        ],
        "summary": "Get custom fields",
        "description": "Retrieves all custom fields associated with the account. Optionally, filter the results by categories, names, types, or custom field IDs.",
        "operationId": "get_custom_fields_users_v1_custom_fields_get",
        "parameters": [
          {
            "description": "Custom field ids to filter by",
            "required": false,
            "schema": {
              "title": "Customfieldids",
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Custom field ids to filter by"
            },
            "name": "customFieldIds",
            "in": "query"
          },
          {
            "description": "Custom field category ids to filter by",
            "required": false,
            "schema": {
              "title": "Categoryids",
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Custom field category ids to filter by"
            },
            "name": "categoryIds",
            "in": "query"
          },
          {
            "description": "Custom field types to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UserCustomFields"
              },
              "description": "Custom field types to filter by"
            },
            "name": "customFieldTypes",
            "in": "query"
          },
          {
            "description": "Custom field names to filter by",
            "required": false,
            "schema": {
              "title": "Customfieldnames",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Custom field names to filter by"
            },
            "name": "customFieldNames",
            "in": "query"
          },
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Sort key",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CustomFieldsSortExternal"
                }
              ],
              "description": "Sort key"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Sort order, set only if sort key is set",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "Sort order, set only if sort key is set",
              "default": "asc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_GetCustomFieldsSettingsResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "Users:v1:Custom Fields"
        ],
        "summary": "Update custom fields",
        "description": "Update custom fields settings by their unique ID",
        "operationId": "update_custom_fields_users_v1_custom_fields_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_custom_fields_users_v1_custom_fields_put"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users:v1:Custom Fields"
        ],
        "summary": "Create custom fields",
        "description": "Create individual or multiple custom fields associated with the account under a specific category.",
        "operationId": "create_custom_fields_users_v1_custom_fields_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_custom_fields_users_v1_custom_fields_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_GetCustomFieldsSettingsResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users:v1:Custom Fields"
        ],
        "summary": "Delete custom fields",
        "description": "Delete individual or multiple custom fields associated with the account by their unique ID.",
        "operationId": "delete_custom_fields_users_v1_custom_fields_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_delete_custom_fields_users_v1_custom_fields_delete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_BulkDeleteCustomFieldResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/users/v1/custom-field-categories": {
      "get": {
        "tags": [
          "Users:v1:Custom Field Categories"
        ],
        "summary": "Get custom field categories",
        "description": "Retrieves all custom fields categories associated with the account. Optionally, filter the results by category IDs and/or names.",
        "operationId": "get_custom_fields_users_v1_custom_field_categories_get",
        "parameters": [
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          },
          {
            "description": "Custom field category ids to filter by",
            "required": false,
            "schema": {
              "title": "Categoryids",
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Custom field category ids to filter by"
            },
            "name": "categoryIds",
            "in": "query"
          },
          {
            "description": "Custom field category names to filter by",
            "required": false,
            "schema": {
              "title": "Categorynames",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Custom field category names to filter by"
            },
            "name": "categoryNames",
            "in": "query"
          },
          {
            "description": "Sort key",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CustomFieldCategoriesSortExternal"
                }
              ],
              "description": "Sort key"
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Sort order, set only if sort key is set",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "Sort order, set only if sort key is set",
              "default": "asc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_CustomFieldCategoriesResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-off/v1/policy-types": {
      "get": {
        "tags": [
          "TimeOff:v1:PolicyTypes"
        ],
        "summary": "Get list of policy types",
        "description": "Get list of policy types",
        "operationId": "get_policy_groups_time_off_v1_policy_types_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeOffGetPolicyTypesResponse_"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-off/v1/policy-types/{policyTypeId}/balances": {
      "get": {
        "tags": [
          "TimeOff:v1:Balances"
        ],
        "summary": "Get list of user balances within a policy type",
        "description": "Get list of user balances by policy type id",
        "operationId": "get_balances_time_off_v1_policy_types__policyTypeId__balances_get",
        "parameters": [
          {
            "description": "Policy type id",
            "required": true,
            "schema": {
              "title": "Policytypeid",
              "type": "string",
              "description": "Policy type id"
            },
            "name": "policyTypeId",
            "in": "path"
          },
          {
            "description": "List of user ids",
            "required": false,
            "schema": {
              "title": "Userids",
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              },
              "description": "List of user ids"
            },
            "name": "userIds",
            "in": "query"
          },
          {
            "description": "The maximum number of results to display per page",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "description": "The maximum number of results to display per page",
              "default": 10
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0,
              "type": "integer",
              "description": "The resource offset of the last successfully read resource will be returned as the paging.offset JSON property of a paginated response containing more results",
              "default": 0
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBaseResponse_TimeOffGetUserBalancesResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-off/v1/policy-types/{policyTypeId}/balances/{userId}": {
      "put": {
        "tags": [
          "TimeOff:v1:Balances"
        ],
        "summary": "Update user's balance within a policy type",
        "description": "Update user's balance by policy type id and user id",
        "operationId": "put_user_balance_time_off_v1_policy_types__policyTypeId__balances__userId__put",
        "parameters": [
          {
            "description": "Policy type id",
            "required": true,
            "schema": {
              "title": "Policytypeid",
              "type": "string",
              "description": "Policy type id"
            },
            "name": "policyTypeId",
            "in": "path"
          },
          {
            "description": "The ID of the user to update balance",
            "required": true,
            "schema": {
              "title": "Userid",
              "minimum": 1,
              "type": "integer",
              "description": "The ID of the user to update balance"
            },
            "name": "userId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Request",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimeOffUpdateUserBalanceRequest"
                  }
                ],
                "description": "The balance to update to"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeOffPutUserBalanceResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-clock/v1/time-clocks": {
      "get": {
        "tags": [
          "TimeClock:v1:TimeClocks"
        ],
        "summary": "Get time clocks",
        "description": "Retrieve a list of time clocks associated with the account",
        "operationId": "get_time_clocks_time_clock_v1_time_clocks_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeClocksResponse_"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-clock/v1/time-clocks/{timeClockId}/time-activities": {
      "get": {
        "tags": [
          "TimeClock:v1:TimeClocks:TimeClock:TimeActivities"
        ],
        "summary": "Get time activities",
        "description": "Retrieve a list of time activities in under a specified time clock.\nTime activities include shift and/or manual breaks",
        "operationId": "get_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_get",
        "parameters": [
          {
            "description": "The unique identifier of the time clock",
            "required": true,
            "schema": {
              "title": "Timeclockid",
              "type": "integer",
              "description": "The unique identifier of the time clock"
            },
            "name": "timeClockId",
            "in": "path"
          },
          {
            "description": "The start time to filter by in ISO 8601 format (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "description": "The start time to filter by in ISO 8601 format (YYYY-MM-DD)"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "description": "The end time to filter by in ISO 8601 format (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "description": "The end time to filter by in ISO 8601 format (YYYY-MM-DD)"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "description": "Filter time activities by a list of user IDs",
            "required": false,
            "schema": {
              "title": "Userids",
              "type": "array",
              "items": {
                "minimum": 1,
                "type": "integer"
              },
              "description": "Filter time activities by a list of user IDs"
            },
            "name": "userIds",
            "in": "query"
          },
          {
            "description": "The job IDs of shifts",
            "required": false,
            "schema": {
              "title": "Jobids",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The job IDs of shifts"
            },
            "name": "jobIds",
            "in": "query"
          },
          {
            "description": "The manual break IDs of manual breaks",
            "required": false,
            "schema": {
              "title": "Manualbreakids",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The manual break IDs of manual breaks"
            },
            "name": "manualBreakIds",
            "in": "query"
          },
          {
            "description": "The policy type IDs of time offs",
            "required": false,
            "schema": {
              "title": "Policytypeids",
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The policy type IDs of time offs"
            },
            "name": "policyTypeIds",
            "in": "query"
          },
          {
            "description": "The time activity types: shift, manual_break or time_off",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TimeActivityAPIType"
              },
              "description": "The time activity types: shift, manual_break or time_off"
            },
            "name": "activityTypes",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeActivitiesGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "TimeClock:v1:TimeClocks:TimeClock:TimeActivities"
        ],
        "summary": "Update time activities",
        "description": "Update time activities for users assigned to a specific time clock. Time activities can include adjustments to shifts and/or manual breaks.",
        "operationId": "update_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_put",
        "parameters": [
          {
            "description": "The unique identifier of the time clock",
            "required": true,
            "schema": {
              "title": "Timeclockid",
              "type": "integer",
              "description": "The unique identifier of the time clock"
            },
            "name": "timeClockId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeActivitiesUpdateRequestList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeActivitiesUpdateResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "TimeClock:v1:TimeClocks:TimeClock:TimeActivities"
        ],
        "summary": "Create time activities",
        "description": "Create multiple time activities in a time clock",
        "operationId": "create_time_activities_time_clock_v1_time_clocks__timeClockId__time_activities_post",
        "parameters": [
          {
            "description": "The unique identifier of the time clock",
            "required": true,
            "schema": {
              "title": "Timeclockid",
              "type": "integer",
              "description": "The unique identifier of the time clock"
            },
            "name": "timeClockId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeActivitiesCreateRequestList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_TimeActivitiesCreateResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-clock/v1/time-clocks/{timeClockId}/shift-attachments": {
      "get": {
        "tags": [
          "TimeClock:v1:TimeClocks:TimeClock:ShiftAttachments"
        ],
        "summary": "Get shift attachments",
        "description": "Get shift attachments of a time clock",
        "operationId": "get_shift_attachments_time_clock_v1_time_clocks__timeClockId__shift_attachments_get",
        "parameters": [
          {
            "description": "The unique identifier of the time clock",
            "required": true,
            "schema": {
              "title": "Timeclockid",
              "type": "integer",
              "description": "The unique identifier of the time clock"
            },
            "name": "timeClockId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ShiftAttachmentsGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/time-clock/v1/time-clocks/{timeClockId}/manual-breaks": {
      "get": {
        "tags": [
          "TimeClock:v1:TimeClocks:TimeClock:ManualBreaks"
        ],
        "summary": "Get manual breaks",
        "description": "Get multiple manual breaks of a time clock",
        "operationId": "get_manual_breaks_time_clock_v1_time_clocks__timeClockId__manual_breaks_get",
        "parameters": [
          {
            "description": "The unique identifier of the time clock",
            "required": true,
            "schema": {
              "title": "Timeclockid",
              "type": "integer",
              "description": "The unique identifier of the time clock"
            },
            "name": "timeClockId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponse_ManualBreaksGetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "APIResponse_ArchiveUsersResponse_": {
        "title": "APIResponse[ArchiveUsersResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ArchiveUsersResponse"
          }
        }
      },
      "APIResponse_BulkDeleteCustomFieldResponse_": {
        "title": "APIResponse[BulkDeleteCustomFieldResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BulkDeleteCustomFieldResponse"
          }
        }
      },
      "APIResponse_CreateUsersResponse_": {
        "title": "APIResponse[CreateUsersResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CreateUsersResponse"
          }
        }
      },
      "APIResponse_EditUsersResponse_": {
        "title": "APIResponse[EditUsersResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/EditUsersResponse"
          }
        }
      },
      "APIResponse_FormResponse_": {
        "title": "APIResponse[FormResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FormResponse"
          }
        }
      },
      "APIResponse_FormsSubmissionGetResponse_": {
        "title": "APIResponse[FormsSubmissionGetResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FormsSubmissionGetResponse"
          }
        }
      },
      "APIResponse_FormsSubmissionPutResponse_": {
        "title": "APIResponse[FormsSubmissionPutResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FormsSubmissionPutResponse"
          }
        }
      },
      "APIResponse_GetCustomFieldsSettingsResponse_": {
        "title": "APIResponse[GetCustomFieldsSettingsResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetCustomFieldsSettingsResponse"
          }
        }
      },
      "APIResponse_GetUnavailabilitiesResponse_": {
        "title": "APIResponse[GetUnavailabilitiesResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetUnavailabilitiesResponse"
          }
        }
      },
      "APIResponse_JobResponse_": {
        "title": "APIResponse[JobResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/JobResponse"
          }
        }
      },
      "APIResponse_JobsResponse_": {
        "title": "APIResponse[JobsResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/JobsResponse"
          }
        }
      },
      "APIResponse_ManualBreaksGetResponse_": {
        "title": "APIResponse[ManualBreaksGetResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ManualBreaksGetResponse"
          }
        }
      },
      "APIResponse_MeResponse_": {
        "title": "APIResponse[MeResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/MeResponse"
          }
        }
      },
      "APIResponse_SchedulersResponse_": {
        "title": "APIResponse[SchedulersResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/SchedulersResponse"
          }
        }
      },
      "APIResponse_ShiftAttachmentsGetResponse_": {
        "title": "APIResponse[ShiftAttachmentsGetResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ShiftAttachmentsGetResponse"
          }
        }
      },
      "APIResponse_ShiftBulkDeleteResponse_": {
        "title": "APIResponse[ShiftBulkDeleteResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ShiftBulkDeleteResponse"
          }
        }
      },
      "APIResponse_ShiftBulkResponse_": {
        "title": "APIResponse[ShiftBulkResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ShiftBulkResponse"
          }
        }
      },
      "APIResponse_ShiftDeleteResponse_": {
        "title": "APIResponse[ShiftDeleteResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ShiftDeleteResponse"
          }
        }
      },
      "APIResponse_ShiftResponse_": {
        "title": "APIResponse[ShiftResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ShiftResponse"
          }
        }
      },
      "APIResponse_TimeActivitiesCreateResponse_": {
        "title": "APIResponse[TimeActivitiesCreateResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeActivitiesCreateResponse"
          }
        }
      },
      "APIResponse_TimeActivitiesGetResponse_": {
        "title": "APIResponse[TimeActivitiesGetResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeActivitiesGetResponse"
          }
        }
      },
      "APIResponse_TimeActivitiesUpdateResponse_": {
        "title": "APIResponse[TimeActivitiesUpdateResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeActivitiesUpdateResponse"
          }
        }
      },
      "APIResponse_TimeClocksResponse_": {
        "title": "APIResponse[TimeClocksResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeClocksResponse"
          }
        }
      },
      "APIResponse_TimeOffGetPolicyTypesResponse_": {
        "title": "APIResponse[TimeOffGetPolicyTypesResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeOffGetPolicyTypesResponse"
          }
        }
      },
      "APIResponse_TimeOffPutUserBalanceResponse_": {
        "title": "APIResponse[TimeOffPutUserBalanceResponse]",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Requestid",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TimeOffPutUserBalanceResponse"
          }
        }
      },
      "AbsenceType": {
        "title": "AbsenceType",
        "enum": [
          "unavailability",
          "timeOff"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "ActivityFileResponse": {
        "title": "ActivityFileResponse",
        "required": [
          "fileName",
          "fileUrl"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "title": "Filename",
            "type": "string",
            "description": "The name of the file in a shift attachment of type file"
          },
          "fileUrl": {
            "title": "Fileurl",
            "type": "string",
            "description": "The URL of the file in a shift attachment of type file"
          }
        }
      },
      "AlbumNoteDataOut": {
        "title": "AlbumNoteDataOut",
        "required": [
          "album"
        ],
        "type": "object",
        "properties": {
          "type": {
            "title": "Type",
            "type": "string",
            "description": "Album note type",
            "default": "album"
          },
          "album": {
            "title": "Album",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageNoteDataOut"
            },
            "description": "The list of images in the album"
          }
        }
      },
      "ArchiveUsersResponse": {
        "title": "ArchiveUsersResponse",
        "required": [
          "success"
        ],
        "type": "object",
        "properties": {
          "success": {
            "title": "Success",
            "type": "boolean",
            "description": "Whether the users were deleted successfully."
          }
        }
      },
      "AssignDataApi": {
        "title": "AssignDataApi",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AssignDataTypes"
          },
          "userIds": {
            "title": "Userids",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "The user ids to assign to this entity (if assigning type is users).",
            "default": []
          },
          "groupIds": {
            "title": "Groupids",
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The group ids to assign to this entity (if assigning type is groups).",
            "default": []
          }
        }
      },
      "AssignDataIn": {
        "title": "AssignDataIn",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AssignDataTypes"
          },
          "userIds": {
            "title": "Userids",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "The user ids to assign to this entity (if assigning type is users).",
            "default": []
          },
          "groupIds": {
            "title": "Groupids",
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The group ids to assign to this entity (if assigning type is groups).",
            "default": []
          }
        }
      },
      "AssignDataTypes": {
        "title": "AssignDataTypes",
        "enum": [
          "users",
          "groups",
          "both"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "AudioAnswer": {
        "title": "AudioAnswer",
        "required": [
          "questionId",
          "wasSubmittedEmpty"
        ],
        "type": "object",
        "properties": {
          "questionId": {
            "title": "Questionid",
            "type": "string",
            "description": "The questions id."
          },
          "submissionTimestamp": {
            "title": "Submissiontimestamp",
            "type": "integer",
            "description": "The timestamp of the submission."
          },
          "location": {
            "title": "Location",
            "allOf": [
              {
                "$ref": "#/components/schemas/GpsData"
              }
            ],
            "description": "The location of the submission."
          },
          "updateTimestamp": {
            "title": "Updatetimestamp",
            "type": "integer",
            "description": "The timestamp of the last update."
          },
          "updateUserId": {
            "title": "Updateuserid",
            "type": "integer",
            "description": "The user id of the last update."
          },
          "wasSubmittedEmpty": {
            "title": "Wassubmittedempty",
            "type": "boolean",
            "description": "Whether the submission was empty."
          },
          "wasHidden": {
            "title": "Washidden",
            "type": "boolean",
            "description": "Whether the submission was hidden (by a condition)."
          },
          "questionType": {
            "title": "Questiontype",
            "enum": [
              "audioRecording"
            ],
            "type": "string",
            "description": "The questions type",
            "default": "audioRecording"
          },
          "audioUrl": {
            "title": "Audiourl",
            "type": "string",
            "description": "The audio url."
          },
          "audioLength": {
            "title": "Audiolength",
            "type": "integer",
            "description": "The audio length in seconds."
          }
        }
      },
      "AudioRecordingQuestion": {
        "title": "AudioRecordingQuestion",
        "required": [
          "questionId",
          "title",
          "description",
          "locationRequired",
          "submissionRequired",
          "questionType"
        ],
        "type": "object",
        "properties": {
          "questionId": {
            "title": "Questionid",
            "type": "string",
            "description": "The question's ID"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "description": "The question's title"
          },
          "description": {
            "title": "Description",
            "type": "string",
            "description": "The question's description"
          },
          "locationRequired": {
            "title": "Locationrequired",
            "type": "boolean",
            "description": "Indication if the gps location is required or not"
          },
          "submissionRequired": {
            "title": "Submissionrequired",
            "type": "boolean",
            "description": "Indication if this question needs to be filled to be able to submit the form"
          },
          "questionType": {
            "title": "Questiontype",
            "enum": [
              "audioRecording"
            ],
            "type": "string",
            "description": "The type of the question"
          }
        }
      },
      "BaseCustomField": {
        "title": "BaseCustomField",
        "required": [
          "customFieldId",
          "value"
        ],
        "type": "object",
        "properties": {
          "customFieldId": {
            "title": "Customfieldid",
            "minimum": 1,
            "type": "integer",
            "description": "The custom field unique id"
          },
          "value": {
            "title": "Value",
            "description": "The value of the custom field. Our real-time API documentation experience does not support custom fields of the dropdown type.To update dropdown fields value(s), pass an array of objects with the IDs of the selected dropdown values (e.g., [{id: 1}, {id: 2}])."
          }
        }
      },
      "BaseJobResponse": {
        "title": "BaseJobResponse",
        "required": [
          "jobId",
          "title",
          "code",
          "color",
          "description",
          "assign"
        ],
        "type": "object",
        "properties": {
          "jobId": {
            "title": "Jobid",
            "type": "string",
            "description": "The job ID"
          },
          "title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the Job"
          },
          "code": {
            "title": "Code",
            "type": "string",
            "description": "The code of the Job."
          },
          "color": {
            "title": "Color",
            "type": "string",
            "description": "The color associated with the job"
          },
          "description": {
            "title": "Description",
            "type": "string",
            "description": "The job description"
          },
          "gps": {
            "title": "Gps",
            "allOf": [
              {
                "$ref": "#/components/schemas/GpsData"
              }
            ],
            "description": "GPS data associated with the job"
          },
          "isDeleted": {
            "title": "Isdeleted",
            "type": "boolean",
            "description": "Indicates whether the job is deleted or not",
            "default": false
          },
          "assign": {
            "title": "Assign",
            "allOf": [
              {
                "$ref": "#/components/schemas/AssignDataApi"
              }
            ],
            "description": "Data related to job assignment"
          },
          "useParentData": {
            "title": "Useparentdata",
            "type": "boolean",
            "description": "Indicates whether to use the parent job's data or not"
          },
          "parentId": {
            "title": "Parentid",
            "type": "string",
            "description": "The ID of the parent job, if any"
          },
          "subJobs": {
            "title": "Subjobs",
            "type": "array",
            "description": "The sub jobs of the parent job, if any"
          }
        }
      },
      "Body_create_custom_fields_users_v1_custom_fields_post": {
        "title": "Body_create_custom_fields_users_v1_custom_fields_post",
        "required": [
          "customFields"
        ],
        "type": "object",
        "properties": {
          "customFields": {
            "title": "Customfields",
            "maxItems": 100,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DropdownCustomFieldCreateRequest"
                },
                {
                  "$ref": "#/components/schemas/CustomFieldCreateRequest"
                }
              ]
            },
            "description": "The custom fields."
          }
        }
      },
      "Body_delete_custom_fields_users_v1_custom_fields_delete": {
        "title": "Body_delete_custom_fields_users_v1_custom_fields_delete",
        "required": [
[...]
